<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Category" >
    <constructor >
      <idArg column="catgcode" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ownercode" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="catgname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="ordernum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cretime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    catgcode, ownercode, catgname, status, ordernum, cretime, updtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dstcategory
    where catgcode = #{catgcode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dstcategory
    where catgcode = #{catgcode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.Category" >
    insert into dstcategory (catgcode, ownercode, catgname, 
      status, ordernum, cretime, 
      updtime)
    values (#{catgcode,jdbcType=INTEGER}, #{ownercode,jdbcType=INTEGER}, #{catgname,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{ordernum,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.pojo.Category" >
    insert into dstcategory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catgcode != null" >
        catgcode,
      </if>
      <if test="ownercode != null" >
        ownercode,
      </if>
      <if test="catgname != null" >
        catgname,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ordernum != null" >
        ordernum,
      </if>
      <if test="cretime != null" >
        cretime,
      </if>
      <if test="updtime != null" >
        updtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catgcode != null" >
        #{catgcode,jdbcType=INTEGER},
      </if>
      <if test="ownercode != null" >
        #{ownercode,jdbcType=INTEGER},
      </if>
      <if test="catgname != null" >
        #{catgname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="cretime != null" >
        now(),
      </if>
      <if test="updtime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.Category" >
    update dstcategory
    <set >
      <if test="ownercode != null" >
        ownercode = #{ownercode,jdbcType=INTEGER},
      </if>
      <if test="catgname != null" >
        catgname = #{catgname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="ordernum != null" >
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="cretime != null" >
        cretime = #{cretime,jdbcType=TIMESTAMP},
      </if>
      <if test="updtime != null" >
        updtime = now(),
      </if>
    </set>
    where catgcode = #{catgcode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.Category" >
    update dstcategory
    set ownercode = #{ownercode,jdbcType=INTEGER},
      catgname = #{catgname,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      ordernum = #{ordernum,jdbcType=INTEGER},
      cretime = #{cretime,jdbcType=TIMESTAMP},
      updtime = now()
    where catgcode = #{catgcode,jdbcType=INTEGER}
  </update>

</mapper>